from typing import Annotated

from fastapi import Depends

from app.api.deps import SessionDep

from .repository import {{Entity}}Repository
from .service import {{Entity}}Service


def get_{{entity_snake}}_service(session: SessionDep) -> {{Entity}}Service:
    return {{Entity}}Service({{Entity}}Repository(session))


{{Entity}}ServiceDep = Annotated[{{Entity}}Service, Depends(get_{{entity_snake}}_service)]
